@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"] - Brand</title>
    <link rel="stylesheet" href="~/sinhvien/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap">
    <link rel="stylesheet" href="~/sinhvien/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/sinhvien/css/aos.min.css">
    <link rel="stylesheet" href="~/snhvien/css/layout.css">
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        @await Html.PartialAsync("_Sidebar")

        <div class="d-flex flex-column" id="content-wrapper">
            <!-- Topbar -->
            @await Html.PartialAsync("_Topbar")

            <!-- Main content -->
            <div class="container-fluid">
                @RenderBody()
            </div>

            <!-- Footer -->
            @await Html.PartialAsync("_Footer")
        </div>
    </div>

    <script src="~/sinhvien/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/sinhvien/js/aos.min.js"></script>
    <script src="~/sinhvien/js/bs-init.js"></script>
    <script src="~/sinhvien/js/theme.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

