<nav class="navbar float-start align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark show">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <h1><strong>Sinh viên</strong></h1>
        <ul class="navbar-nav text-light">
            <li class="nav-item"><a class="nav-link active" href="/Home/Index"><i class="fas fa-tachometer-alt"></i><span>Lịch Học</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/Home/DanhSachLop"><i class="fas fa-user"></i><span>Danh Sách Lớp học</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/Home/Diem"><i class="fas fa-table"></i><span>Điểm</span></a></li>
        </ul>
    </div>
</nav>