@model IEnumerable<GiaoVien>
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bảng dữ liệu Giáo Viên</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên Giáo Viên</th>
                            <th>Email</th>
                            <th>Số Điện Thoại</th>
                            <th>Khoa</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên Giáo Viên</th>
                            <th>Email</th>
                            <th>Số Điện Thoại</th>
                            <th>Khoa</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenGiaoVien</td>
                                <td>@item.Email</td>
                                <td>@item.SoDienThoai</td>
                                <td>@item.Khoas.TenKhoa</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
