@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/login/aos.css" rel="stylesheet">
<link href="~/css/login/bootstrap.min.css" rel="stylesheet">
<link href="~/css/login/boxicons.min.css" rel="stylesheet">
<link href="~/css/login/bootstrap-icons.css" rel="stylesheet">
<link href="~/css/login/bootstrap-datepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/login/all.css">
<link rel="stylesheet" href="~/css/login/login.css">

<body class="bg-img">
    <main role="main" class="mt-100 container" style="width: 400px;">
        <div class="flex-fill d-flex flex-column justify-content-center">
            <div class="container-tight py-6">
                <div class="card bg-intro">
                    <div class="card-body text-center p-sm-4 pt-5">
                        <img src="img/logo.png" height="80" class="mb-4" alt="BUV Logo">
                        <h3 class="welcome_1">Welcome to</h3>
                        <h2 class="welcome_2">University of Transport and Communication</h2>
                    </div>
                    <div class="card-body" style="padding-bottom: 50px;">
                        <form asp-area="Identity" asp-controller="Login" asp-action="Index" method="post">

                            <!-- User/Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" asp-for="UserNameOrEmail">Tên đăng nhập</label>

                                <input asp-for="UserNameOrEmail" class="form-control form-control-lg"
                                    placeholder="Enter user name or email address" />
                                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-3">
                                <label class="form-label" asp-for="Password">Mật khẩu</label>

                                <input type="password" asp-for="Password" class="form-control form-control-lg"
                                    placeholder="Enter password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Checkbox -->
                                <a href="#" class="text-body" data-toggle="modal"
                                    data-target="#forgotPasswordModal">Quên mật khẩu?</a>

                                <!-- Modal -->
                                <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog"
                                    aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="forgotPasswordModalLabel">Liên hệ admin</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Vui lòng liên hệ admin để được hỗ trợ khôi phục mật khẩu.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
<!-- </LayoutSnippet> -->
