@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://student.buv.edu.vn/vendor/aos/aos.css" rel="stylesheet">
<link href="https://student.buv.edu.vn/css/bootstrap.min.css?v=2.08" rel="stylesheet">
<link href="https://student.buv.edu.vn/vendor/boxicons/css/boxicons.min.css?v=2.08" rel="stylesheet">
<link href="https://student.buv.edu.vn/vendor/bootstrap-icons/bootstrap-icons.css?v=2.08" rel="stylesheet">
<link href="https://student.buv.edu.vn/css/bootstrap-datepicker.min.css?v=2.08" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://student.buv.edu.vn/css/app.css">
<style>
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        background-color: #f5f7fb;
        min-height: 100vh;
        border-bottom: 10px solid #d92027;
        overflow: hidden;
    }

    .form-control {
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }

    dl,
    ol,
    ul {
        margin-bottom: 0 !important;
        list-style: decimal;
    }

    .bg-intro {
        background-color: rgba(255, 255, 255, 0.8) !important;
        border-radius: 8px !important;
        ;
    }

    .intro-head {
        padding-bottom: 30px !important;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .intro-title {
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        color: #555;
        line-height: 150%;
    }

    .intro-body {
        min-height: 80px;
        border-top: 1px solid #ccc;
        padding-top: 30px;
    }

    .form-group {
        margin-bottom: 15px !important;
    }

    .wrap {
        background-color: #fff;
        -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.18);
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.18);
    }

    .mb-30 {
        margin-bottom: 30px !important;
    }

    .title {
        color: #d92027;
        padding: 10px 10px;
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        border-bottom: 2px solid #e0a800;
    }

    .bg-img {
        background: url('img/bg.png') top center no-repeat;
        background-size: cover;

    }

    label {
        font-weight: 600;
    }

    .display-none {
        display: none;
    }

    ul.nav-account {
        float: right;
        list-style: none;
    }

    ul.nav-account li {
        float: left;
        padding: 8px 6px;
        list-style: none;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }

    .pt-20 {
        padding-top: 8px;
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: #f9f9f9;
    }

    .form-control {
        border: 1px solid #ddd;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #ffffff;
        background-clip: border-box;
        border: 1px solid rgba(110, 117, 130, 0.2);
        border-radius: 3px;
    }

    .card>hr,
    .card>.hr {
        margin-right: 0;
        margin-left: 0;
    }

    .card>.list-group {
        border-top: inherit;
        border-bottom: inherit;
    }

    .card>.list-group:first-child {
        border-top-width: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .card>.list-group:last-child {
        border-bottom-width: 0;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 0.2rem 1.25rem;
    }

    .card-footer {
        padding: 0.4rem 1.25rem !important;
    }

    .card-title {
        margin-bottom: 0.75rem;
    }

    .card-subtitle {
        margin-top: -0.375rem;
        margin-bottom: 0;
    }

    .card-text:last-child {
        margin-bottom: 0;
    }

    .card-link:hover {
        text-decoration: none;
    }

    .card-link+.card-link {
        margin-left: 1.25rem;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(53, 64, 82, 0.024);
        border-bottom: 1px solid rgba(110, 117, 130, 0.2);
    }

    .card-header:first-child {
        border-radius: 2px 2px 0 0;
    }

    .card-header+.list-group .list-group-item:first-child {
        border-top: 0;
    }

    .card-footer {
        padding: 0.75rem 1.25rem;
        background-color: rgba(53, 64, 82, 0.024);
        border-top: 1px solid rgba(110, 117, 130, 0.2);
    }

    .card-footer:last-child {
        border-radius: 0 0 2px 2px;
    }

    .card-header-tabs {
        margin-right: -0.625rem;
        margin-bottom: -0.75rem;
        margin-left: -0.625rem;
        border-bottom: 0;
    }

    .card-header-tabs .nav-link.active {
        background-color: #ffffff;
        border-bottom-color: #ffffff;
    }

    .card-header-pills {
        margin-right: -0.625rem;
        margin-left: -0.625rem;
    }

    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.25rem;
    }

    .card-img,
    .card-img-top,
    .card-img-bottom {
        width: 100%;
    }

    .card-img,
    .card-img-top {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .card-img,
    .card-img-bottom {
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .card-group>.card {
        margin-bottom: 1.5rem;
    }


    .mt-100 {
        margin-top: 100px !important;
        ;
    }

    .mb-20 {
        margin-bottom: 20px !important;
        ;
    }

    .mb-5 {
        margin-bottom: 5px !important;
    }

    .b-icon {
        font-size: 26px;
        color: green;
        margin-bottom: 10px;
    }

    .text-message {
        font-size: 22px;
        color: green;
    }

    .alert-pre {
        word-wrap: break-word;
        word-break: break-all;
        white-space: pre-wrap;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 19px;
    }

    .required {
        color: #ff0000;
        font-size: 14px;
    }

    .color-white {
        color: white !important;
    }

    .color-red {
        color: red;
    }

    .float-right {
        float: right;
    }

    .datepicker {
        cursor: pointer;
    }

    .welcome_1,
    .welcome_2 {
        font-size: 18px;
        color: #354052;
        font-weight: 600;
        margin-bottom: 6px;
    }

    .welcome_2 {
        font-size: 26px;
    }

    .pt-5 {
        padding-top: 50px !important;
    }
</style>

<body class="bg-img">
    <main role="main" class="mt-100 container" style="width: 400px;">
        <div class="flex-fill d-flex flex-column justify-content-center">
            <div class="container-tight py-6">
                <div class="card bg-intro">
                    <div class="card-body text-center p-sm-4 pt-5">
                        <img src="img/logo.jpg" height="80" class="mb-4" alt="BUV Logo">
                        <h3 class="welcome_1">Welcome to</h3>
                        <h2 class="welcome_2">University of Transport and Communication</h2>
                    </div>
                    <div class="card-body" style="padding-bottom: 50px;">
                        <form asp-area="Identity" asp-controller="Login" asp-action="Index" method="post">

                            <!-- User/Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" asp-for="UserNameOrEmail">Tên đăng nhập</label>

                                <input asp-for="UserNameOrEmail" class="form-control form-control-lg"
                                    placeholder="Enter user name or email address" />
                                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-3">
                                <label class="form-label" asp-for="Password">Mật khẩu</label>

                                <input type="password" asp-for="Password" class="form-control form-control-lg"
                                    placeholder="Enter password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Checkbox -->
                                <a href="#" class="text-body" data-toggle="modal"
                                    data-target="#forgotPasswordModal">Quên mật khẩu?</a>

                                <!-- Modal -->
                                <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog"
                                    aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="forgotPasswordModalLabel">Liên hệ admin</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Vui lòng liên hệ admin để được hỗ trợ khôi phục mật khẩu.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<!-- </LayoutSnippet> -->
