@section Styles {
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        // Date formatting function
        function formatDate(dateString) {
            if (!dateString) return "N/A";
            const date = new Date(dateString);
            return date.toLocaleDateString("vi-VN", {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
            });
        }

        $(document).ready(function () {
            $('#dataTable').DataTable({
                ajax: {
                    url: '/api/nguyenvong/',
                    type: 'GET',
                    dataSrc: '',
                },
                language: {
                    url: '/sb-admin/json/data_tables_vi.json',
                },
                columns: [
                    {
                        data: 'idSinhVien',
                    },
                    {
                        data: 'tenSinhVien',
                        render: function (data, type, row) {
                            return '<a href="/Admin/QuanLySinhVien/Details?IdSinhVien=' + row.idSinhVien + '">' + data + '</a>';
                        }
                    },
                    {
                        data: 'tenMonHoc',
                        render: function (data, type, row) {
                            return '<a href="/Admin/QuanLyMonHoc/Details?IdMonHoc=' + row.idMonHoc + '">' + data + '</a>';
                        }
                    },
                    {
                        data: 'trangThai',
                        render: function (data, type, row) {
                            if (data == -1) {
                                return '<span class="badge badge-warning">Chưa xác nhận</span>';
                            }
                            else if (data == 1) {
                                return '<span class="badge badge-success">Đã xác nhận</span>';
                            }
                            else {
                                return '<span class="badge badge-danger">Từ Chối</span>';
                            }
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            if (row.trangThai == null) {
                                return `
                                                        <button class="btn btn-success btn-sm accept-btn" data-id="${row.idDangKyNguyenVong}">Chấp nhận</button>
                                                        <button class="btn btn-danger btn-sm reject-btn" data-id="${row.idDangKyNguyenVong}">Từ chối</button>
                                                    `;
                            } else if (row.trangThai == true) {
                                return `
                                                        <button class="btn btn-danger btn-sm reject-btn" data-id="${row.idDangKyNguyenVong}">Từ chối</button>
                                                    `;
                            } else {
                                return `
                                                        <button class="btn btn-warning btn-sm accept-btn" data-id="${row.idDangKyNguyenVong}">Chấp nhận</button>
                                                    `;
                            }
                        },
                    },
                    {
                        data: null,
                        searchable: false,
                        sortable: false,
                        render: function (data, type, row) {
                            return `
                                                    <button id="deleteNguyenVong" class="btn btn-danger btn-sm delete-btn" 
                                                        data-toggle="modal" data-target="#deleteNguyenVongModal"
                                                        data-id="${row.idDangKyNguyenVong}"
                                                    >
                                                        Xóa</button>
                                                `;
                        },
                    }
                ]
            });

            $('#dataTable_gv').DataTable({
                ajax: {
                    url: '/api/nguyenvongthaydoilich/',
                    type: 'GET',
                    dataSrc: '',
                },
                language: {
                    url: '/sb-admin/json/data_tables_vi.json',
                },
                columns: [
                    {
                        data: 'tenLopHocPhan'
                    },
                    {
                        data: 'thoiGianBatDauHienTai',
                        render: function (data, type, row) {
                            return formatDate(data);
                        }
                    },
                    {
                        data: 'thoiGianKetThucHienTai',
                        render: function (data, type, row) {
                            return formatDate(data);
                        }
                    },
                    {
                        data: 'thoiGianBatDauMoi',
                        render: function (data, type, row) {
                            return formatDate(data);
                        }
                    },
                    {
                        data: 'thoiGianKetThucMoi',
                        render: function (data, type, row) {
                            return formatDate(data);
                        }
                    },
                    {
                        data: 'trangThai',
                        render: function (data, type, row) {
                            if (row.trangThai == -1) {
                                return '<span class="badge badge-warning">Chờ Xét Duyệt</span>';
                            } else if (row.trangThai == 1) {
                                return '<span class="badge badge-success">Đã Xác Nhận</span>';
                            } else {
                                return '<span class="badge badge-danger">Bị Huỷ</span>';
                            }
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            if (row.trangThai == -1) {
                                return `
                                            <button class="btn btn-success btn-sm accept-btn" data-id="${row.idDangKyDoiLich}">Chấp nhận</button>
                                            <button class="btn btn-danger btn-sm reject-btn" data-id="${row.idDangKyDoiLich}">Từ chối</button>
                                        `;
                            } else if (row.trangThai == 1) {
                                return `<button class="btn btn-danger btn-sm reject-btn" data-id="${row.idDangKyDoiLich}">Từ chối</button>`;
                            } else {
                                return `<button class="btn btn-warning btn-sm accept-btn" data-id="${row.idDangKyDoiLich}">Chấp nhận</button>`;
                            }
                        },
                        sortable: false,
                        searchable: false
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return `<button class="btn btn-danger btn-sm del-btn" data-id="${row.idDangKyDoiLich}">Xóa</button>`;
                        },
                        sortable: false,
                        searchable: false
                    }
                ]
            });

            // Handle button clicks
            $('#dataTable').on('click', '.accept-btn', function () {
                const idNguyenVong = $(this).data('id');
                // AJAX call to update status to 'accepted'
                $.ajax({
                    url: `/api/nguyenvong/${idNguyenVong}/approve`,
                    type: 'PUT',
                    success: function () {
                        $('#dataTable').DataTable().ajax.reload();
                    },
                    error: function (err) {
                        console.log(err);
                        alert('Lỗi Không Thể Thay Đổi Trạng Thái Nguyện Vọng');
                    }
                });
            });


            $('#dataTable').on('click', '.reject-btn', function () {
                const idNguyenVong = $(this).data('id');
                // AJAX call to update status to 'rejected'
                $.ajax({
                    url: `/api/nguyenvong/${idNguyenVong}/reject`,
                    type: 'PUT',
                    success: function () {
                        $('#dataTable').DataTable().ajax.reload();
                    },
                    error: function (err) {
                        console.log(err);
                        alert('Lỗi Không Thể Thay Đổi Trạng Thái Nguyện Vọng');
                    }
                });
            });

            /**
             * Handle delete button click
             */
            $('#dataTable').on('click', '.delete-btn', function () {
                const idNguyenVong = $(this).data('id');
                $('#deleteNguyenVongBtn').data('id', idNguyenVong);
                $('#deleteNguyenVongModal').modal('show');
                $('#deleteNguyenVongBtn').click(function () {
                    const idNguyenVong = $(this).data('id');
                    $.ajax({
                        url: `/api/nguyenvong/${idNguyenVong}`,
                        type: 'DELETE',
                        success: function () {
                            $('#dataTable').DataTable().ajax.reload();
                            $('#deleteNguyenVongModal').modal('hide');
                        },
                        error: function (err) {
                            console.log(err);
                            alert('Lỗi Không Thể Xóa Nguyện Vọng');
                        }
                    });
                });
            });

            /**
             * Xử Lí Chấp Nhận, Từ Chối Đăng Kí Đổi Lịch
             */
            // Handle the Accept button click
            $('#dataTable_gv').on('click', '.accept-btn', function () {
                const idDangKyDoiLich = $(this).data('id');

                $.ajax({
                    url: `/api/nguyenvongthaydoilich/${idDangKyDoiLich}/accpet`, // Note: "accept" spelling fixed if needed
                    type: 'PUT',
                    success: function () {
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                        alert("Lỗi: Không thể chấp nhận yêu cầu");
                    }
                });
            });


            // Handle the Del button click
            $('#dataTable_gv').on('click', '.del-btn', function () {
                const idDangKyDoiLich = $(this).data('id');

                $.ajax({
                    url: `/api/nguyenvongthaydoilich/${idDangKyDoiLich}`, // Note: "accept" spelling fixed if needed
                    type: 'DELETE',
                    success: function () {
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                        alert("Lỗi: Không thể chấp nhận yêu cầu");
                    }
                });
            });

            // Handle the Reject button click
            $('#dataTable_gv').on('click', '.reject-btn', function () {
                const idDangKyDoiLich = $(this).data('id');

                $.ajax({
                    url: `/api/nguyenvongthaydoilich/${idDangKyDoiLich}/reject`,
                    type: 'PUT',
                    success: function () {
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                        alert(`Lỗi: ${err.responseXML}`);
                    }
                });
            });
        });
    </script>
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nguyện Vọng Sinh Viên Đăng Kí</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã Sinh Viên</th>
                            <th>Tên Sinh Viên</th>
                            <th>Môn Học</th>
                            <th>Trạng Thái</th>
                            <th>Chức Năng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã Sinh Viên</th>
                            <th>Tên Sinh Viên</th>
                            <th>Môn Học</th>
                            <th>Trạng Thái</th>
                            <th>Chức Năng</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<!-- Quản Lí Nguyện Vọng Giáo Viên Đổi Lịch -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nguyện Vọng Giáo Viên Đăng Kí Đổi Lịch</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable_gv" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Lớp Học Phần</th>
                            <th>Thời Gian Bắt Đầu Hiện Tại</th>
                            <th>Thời Gian Kết Thúc Hiện Tại</th>
                            <th>Thời Gian Bắt Đầu Mới</th>
                            <th>Thời Gian Kết Thúc Mới</th>
                            <th>Trạng Thái</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Lớp Học Phần</th>
                            <th>Thời Gian Bắt Đầu Hiện Tại</th>
                            <th>Thời Gian Kết Thúc Hiện Tại</th>
                            <th>Thời Gian Bắt Đầu Mới</th>
                            <th>Thời Gian Kết Thúc Mới</th>
                            <th>Trạng Thái</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Dialog delete nguyen vong -->
<div class="modal fade" id="deleteNguyenVongModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteNguyenVongModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteNguyenVongModalLabel">Xác Nhận Xóa Nguyện Vọng</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn xóa nguyện vọng này không?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <button class="btn btn-danger" id="deleteNguyenVongBtn">Xóa</button>
            </div>
        </div>
    </div>
</div>