@{
    ViewBag.Title = "Lịch lên lớp";
}
@using System.Text.Json;

@section Scripts {
    <script src='~/lib/fullcalendar-6.1.15/dist/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Ajax get list events sinh vien
            var listEvents = [];
            $.ajax({
                url: 'api/Calendar/sinhvien/@ViewBag.idUser',
                type: 'GET',
                async: false,
                success: function (data) {
                    listEvents = data;
                }
            });

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                displayEventTime: false,
                initialView: 'dayGridMonth', // 'dayGridWeek', 'timeGridDay', 'listWeek'
                events: listEvents,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                buttonText: {
                    today: 'Hôm nay',
                    month: 'Tháng',
                    week: 'Tuần',
                    day: 'Ngày',
                    list: 'Danh sách',
                },
                locale: 'vi',
                timeZone: 'Asia/Ho_Chi_Minh',
                titleFormat: {},
            });
            calendar.render();
            // Make calendar accessible for button controls
            window.calendar = calendar;
        });
    </script>
}

@section Styles {
    <link rel='stylesheet' href='~/lib/fullcalendar-6.1.15/css/v_calendar.css' />
}



<div class="container-fluid">
    <div id='calendar'></div>
</div>
