@section Styles {
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        /**
         * Edit Mon Hoc
         */
        // Get and set data
        $('#editMonHocModal').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            // get
            var tenMonHoc = button.attr('data-tenMonHoc');
            var soTinChi = button.attr('data-soTinChi');
            var soTiet = button.attr('data-soTiet');
            var idKhoa = button.attr('data-idKhoa');
            var idMonHoc = button.attr('data-idMonHoc');
            // handle select khoa
            $.ajax({
                url: '/api/khoa/',
                type: 'GET',
                success: function (data) {
                    var selectList = $('#editIdKhoa');
                    selectList.empty();
                    selectList.append('<option value="">Chọn Khoa</option>');
                    $.each(data, function (index, item) {
                        if (item.idKhoa == idKhoa) {
                            selectList.append('<option value="' + item.idKhoa + '" selected>' + item.tenKhoa + '</option>');
                        } else {
                            selectList.append('<option value="' + item.idKhoa + '">' + item.tenKhoa + '</option>');
                        }
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
            // set
            $('#editTenMonHoc').val(tenMonHoc);
            $('#editSoTinChi').val(soTinChi);
            $('#editSoTiet').val(soTiet);
            $('#editIdMonHoc').val(idMonHoc);

        });
        // Ajax request edit mon hoc
        $('#editMonHoc').click(function () {
            var tenMonHoc = $('#editTenMonHoc').val();
            var soTinChi = $('#editSoTinChi').val();
            var soTiet = $('#editSoTiet').val();
            var idKhoa = $('#editIdKhoa').val();
            var idMonHoc = $('#editIdMonHoc').val();

            if (!tenMonHoc || !soTinChi || !soTiet || !idKhoa) {
                alert('Vui lòng nhập đầy đủ thông tin');
                return;
            }

            $.ajax({
                url: '/api/monhoc/' + idMonHoc,
                type: 'PUT',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    tenMonHoc: tenMonHoc,
                    soTinChi: soTinChi,
                    soTiet: soTiet,
                    idKhoa: idKhoa,
                    idMonHoc: idMonHoc,
                }),
                success: function (data) {
                    $('#editMonHocModal').modal('hide');
                    $('#dataTable').DataTable().ajax.reload();
                },
                error: function (error) {
                    alert(error.message);
                    console.log(error.message);
                }
            });
        });

        /**
         * Delete Mon Hoc
         */
        function deleteMonHoc(idMonHoc) {
            $('#deleteMonHocModal').modal('show');
            $('#deleteMonHoc').click(function () {
                $.ajax({
                    url: '/api/monhoc/' + idMonHoc,
                    type: 'DELETE',
                    success: function (data) {
                        $('#deleteMonHocModal').modal('hide');
                        $('#dataTable').DataTable().ajax.reload();
                    },
                    error: function (error) {
                        alert(error.message);
                        console.log(error.message);
                    }
                });
            });
        }

        /**
         * Create Mon Hoc
        */
        // Get list khoa add to select list when click 'tao moi mon hoc'
        $('#createMonHocModal').on('show.bs.modal', function (e) {
            $.ajax({
                url: '/api/khoa/',
                type: 'GET',
                success: function (data) {
                    var selectList = $('#idKhoa');
                    selectList.empty();
                    selectList.append('<option value="">Chọn Khoa</option>');
                    $.each(data, function (index, item) {
                        selectList.append('<option value="' + item.idKhoa + '">' + item.tenKhoa + '</option>');
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        // Ajax create mon hoc 
        $('#createMonHoc').click(function () {
            var tenMonHoc = $('#tenMonHoc').val().trim();
            var soTinChi = $('#soTinChi').val().trim();
            var soTiet = $('#soTiet').val().trim();
            var idKhoa = $('#idKhoa').val().trim();

            if (!tenMonHoc || !soTinChi || !soTiet || !idKhoa) {
                alert('Vui lòng nhập đầy đủ thông tin');
                return;
            }

            $.ajax({
                url: '/api/monhoc/',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    tenMonHoc: tenMonHoc,
                    soTinChi: soTinChi,
                    soTiet: soTiet,
                    idKhoa: idKhoa,
                }),
                success: function (data) {
                    $('#createMonHocModal').modal('hide');
                    $('#dataTable').DataTable().ajax.reload();
                },
                error: function (error) {
                    alert(error.message);
                    console.log(error.message);
                }
            });
        });

        // data table 
        $(document).ready(function () {
            $('#dataTable').DataTable({
                ajax: {
                    url: '/api/monhoc/',
                    type: 'GET',
                    dataSrc: '',
                },
                columns: [
                    {
                        data: 'tenMonHoc',
                        render: function (data, type, row) {
                            return '<a href="/Admin/QuanLyMonHoc/Details?IdMonHoc=' + row.idMonHoc + '">' + data + '</a>';
                        }
                    },
                    {
                        data: 'soTinChi',
                    },
                    {
                        data: 'soTiet',
                    },
                    {
                        data: 'tenKhoa',
                        render: function (data, type, row) {
                            return '<a href="/Admin/QuanLyKhoa/Details?IdKhoa=' + row.idKhoa + '">' + data + '</a>';
                        }
                    },
                    {
                        data: null,
                        width: '15%',
                        searchable: false,
                        sortable: false,
                        render: function (data, type, row) {
                            return `
                                    <button type="button" class="btn btn-primary" 
                                        data-toggle="modal" data-target="#editMonHocModal"
                                        data-idMonHoc="${row.idMonHoc}"
                                        data-tenMonHoc="${row.tenMonHoc}"
                                        data-soTinChi="${row.soTinChi}"
                                        data-soTiet="${row.soTiet}"
                                        data-idKhoa="${row.idKhoa}"
                                    >Sửa</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteMonHoc('${row.idMonHoc}')">Xóa</button>
                                `;
                        }
                    }
                ],
                language: {
                    url: '/sb-admin/json/data_tables_vi.json',
                },
            });
        });
    </script>
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bảng dữ liệu Môn Học</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên Môn Học</th>
                            <th>Số Tín Chỉ</th>
                            <th>Số Tiết</th>
                            <th>Khoa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên Môn Học</th>
                            <th>Số Tín Chỉ</th>
                            <th>Số Tiết</th>
                            <th>Khoa</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- Dialog Create Mon Hoc -->
<div class="modal fade" id="createMonHocModal" tabindex="-1" role="dialog" aria-labelledby="createMonHocModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createMonHocModalLabel">Thêm Môn Học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createMonHocForm">
                    <div class="form-group form-md-line-input">
                        <label for="tenMonHoc">Tên Môn Học</label>
                        <input type="text" class="form-control" id="tenMonHoc" name="tenMonHoc"
                            placeholder="Nhập tên môn học" required>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label for="soTinChi">Số Tín Chỉ</label>
                        <input type="number" class="form-control" id="soTinChi" name="soTinChi"
                            placeholder="Nhập số tín chỉ" required>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label for="soTiet">Số Tiết</label>
                        <input type="number" class="form-control" id="soTiet" name="soTiet" placeholder="Nhập số tiết"
                            required>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label for="idKhoa">Khoa</label>
                        <select class="form-control" id="idKhoa" name="idKhoa">
                            <option value="">Chọn Khoa</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="createMonHoc">Tạo</button>
            </div>
        </div>
    </div>
</div>
<!-- Button Dialog Create Mon Hoc -->
<div class="container-fluid fixed-action-btn">
    <a class="btn btn-primary" data-toggle="modal" data-target="#createMonHocModal">
        Tạo Môn Học
    </a>
</div>

<!-- Dialog Xoa -->
<div class="modal fade" id="deleteMonHocModal" tabindex="-1" role="dialog" aria-labelledby="deleteMonHocModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMonHocModalLabel">Xóa Môn Học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa môn học này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" id="deleteMonHoc">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- Dialog Sua Mon Hoc -->
<div class="modal fade" id="editMonHocModal" tabindex="-1" role="dialog" aria-labelledby="editMonHocModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMonHocModalLabel">Sửa Môn Học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editMonHocForm">
                    <div class="form-group">
                        <label for="editTenMonHoc">Tên Môn Học</label>
                        <input type="text" class="form-control" id="editTenMonHoc" name="editTenMonHoc"
                            placeholder="Nhập tên môn học" required>
                    </div>
                    <div class="form-group
                        <label for=" editSoTinChi">Số Tín Chỉ</label>
                        <input type="number" class="form-control" id="editSoTinChi" name="editSoTinChi"
                            placeholder="Nhập số tín chỉ" required>
                    </div>
                    <div class="form-group
                        <label for=" editSoTiet">Số Tiết</label>
                        <input type="number" class="form-control" id="editSoTiet" name="editSoTiet"
                            placeholder="Nhập số tiết" required>
                    </div>
                    <div class="form-group
                        <label for=" editIdKhoa">Khoa</label>
                        <select class="form-control" id="editIdKhoa" name="editIdKhoa">
                            <option value="">Chọn Khoa</option>
                        </select>
                    </div>
                    <input type="hidden" id="editIdMonHoc" name="editIdMonHoc" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="editMonHoc">Lưu</button>
            </div>
        </div>
    </div>
</div>