
@model Khoa

@section Styles {
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        // handle data table gv
        $(document).ready(function () {
            $('#dataTable_gv').DataTable({
                ajax: {
                    url: '/api/khoa/giaovien?idKhoa=@Model.IdKhoa',
                    type: 'GET',
                    dataSrc: '',
                },
                columns: [
                    {
                        data: 'tenGiaoVien',
                        render: function (data, type, row) {
                            return '<a href="/admin/quanlygiaovien/details?IdGiaoVien=' + row.idGiaoVien + '">' + data + '</a>';
                        }
                    },
                    {
                        data: 'email'
                    },
                    {
                        data: 'soDienThoai'
                    }
                ],
                responsive: true,
                language: {
                    url: '/sb-admin/json/data_tables_vi.json',
                },
            });
        });

        // handle data table sinh vinh
        $(document).ready(function () {
            $('#dataTable_sv').DataTable({
                ajax: {
                    url: '/api/khoa/sinhvien?idKhoa=@Model.IdKhoa',
                    type: 'GET',
                    dataSrc: '',
                },
                columns: [
                    {
                        data: 'hoTen',
                        render: function (data, type, row) {
                            return '<a href="/admin/quanlysinhvien/details?IdSinhVien=' + row.idSinhVien + '">' + data + '</a>';
                        }
                    },
                    {
                        data: 'lop'
                    },
                    {
                        data: 'ngaySinh',
                    },
                    {
                        data: 'diaChi'
                    },
                ],
                responsive: true,
                language: {
                    url: '/sb-admin/json/data_tables_vi.json',
                },
            });
        });
    </script>
}

<!-- Header -->
<div class="card-header py-3">
    <h2 class="m-0 font-weight-bold text-primary">Thông Tin Khoa @Model.TenKhoa</h2>
</div>

<!-- /.container-fluid -->
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bảng dữ liệu Giảng Viên Thuộc Khoa</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable_gv" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên Giáo Viên</th>
                            <th>Email</th>
                            <th>Số Điện Thoại</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên Giáo Viên</th>
                            <th>Email</th>
                            <th>Số Điện Thoại</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bảng dữ liệu Sinh Viên Thuộc Khoa</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable_sv" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Họ Và Tên</th>
                            <th>Lớp</th>
                            <th>Ngày Sinh</th>
                            <th>Địa Chỉ</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Họ Và Tên</th>
                            <th>Lớp</th>
                            <th>Ngày Sinh</th>
                            <th>Địa Chỉ</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
