@section Styles {
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        // js them khoa
        $('#addKhoa').submit(function (e) {
            e.preventDefault();
            var tenKhoa = $('#tenKhoa').val();
            $.ajax({
                url: `/api/khoa/`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(`${tenKhoa}`),
                success: function (data) {
                    $('#addKhoa').modal('hide');
                    $('#tenKhoa').val('');
                    $('#dataTable').DataTable().ajax.reload();
                },
                error: function (error) {
                    console.log(error);
                    alert('Thêm khoa thất bại');
                }
            });
        });

        $(document).ready(function () {
            $('#dataTable').DataTable({
                ajax: {
                    url: '/api/khoa/',
                    type: 'GET',
                    dataSrc: '',
                },
                columns: [
                    {
                        data: 'tenKhoa',
                        render: function (data, type, row) {
                            return '<a href="/admin/quanlykhoa/details?IdKhoa=' + row.idKhoa + '">' + data + '</a>';
                        }
                    },
                ],
                responsive: true,
                language: {
                    url: '/sb-admin/json/data_tables_vi.json',
                },
            });
        });

    </script>
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bảng dữ liệu Khoa</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Khoa</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Khoa</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- Dialog Create Khoa -->
<div class="modal fade" id="addKhoa" tabindex="-1" role="dialog" aria-labelledby="addKhoaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addKhoaLabel">Thêm Khoa Mới</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addKhoa">
                    <div class="form-group" role="form">
                        <label for="tenKhoa">Tên Khoa</label>
                        <input type="text" class="form-control" id="tenKhoa" name="tenKhoa" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- Button them khoa moi -->
    <button class="btn btn-primary" data-toggle="modal" data-target="#addKhoa">Thêm Khoa Mới
    </button>
</div>
