@* @model IEnumerable<qlsv.Models.CalendarEvent> *@

<script src='~/lib/fullcalendar-6.1.15/dist/index.global.min.js'></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth', // 'dayGridWeek', 'timeGridDay', 'listWeek'
            events: [
                {
                    title: "H\u1EC7 qu\u1EA3n tr\u1ECB c\u01A1 s\u1EDF d\u1EEF li\u1EC7u Oracle-1-1-24(QT01)",
                    start: "2024-08-14T15:35:00+07:00",
                    end: "2024-08-14T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240921T170000Z;BYDAY=WE"
                },
                {
                    title: "H\u1EC7 qu\u1EA3n tr\u1ECB c\u01A1 s\u1EDF d\u1EEF li\u1EC7u Oracle-1-1-24(QT01.BT1)",
                    start: "2024-09-25T15:35:00+07:00",
                    end: "2024-09-25T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241102T170000Z;BYDAY=WE"
                },
                {
                    title: "L\u1EADp tr\u00ECnh tr\u1EF1c quan-1-1-24(QT01.BT1)",
                    start: "2024-10-12T15:35:00+07:00",
                    end: "2024-10-12T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241116T170000Z;BYDAY=SA"
                },
                {
                    title: "L\u1EADp tr\u00ECnh tr\u1EF1c quan-1-1-24(QT01)",
                    start: "2024-08-13T15:35:00+07:00",
                    end: "2024-08-13T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240824T170000Z;BYDAY=TU"
                },
                {
                    title: "L\u1EADp tr\u00ECnh tr\u1EF1c quan-1-1-24(QT01)",
                    start: "2024-08-17T15:35:00+07:00",
                    end: "2024-08-17T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240824T170000Z;BYDAY=SA"
                },
                {
                    title: "L\u1EADp tr\u00ECnh tr\u1EF1c quan-1-1-24(QT01)",
                    start: "2024-08-27T15:35:00+07:00",
                    end: "2024-08-27T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240831T170000Z;BYDAY=TU"
                },
                {
                    title: "L\u1EADp tr\u00ECnh tr\u1EF1c quan-1-1-24(QT01)",
                    start: "2024-09-14T15:35:00+07:00",
                    end: "2024-09-14T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241005T170000Z;BYDAY=SA"
                },
                {
                    title: "L\u1EADp tr\u00ECnh tr\u1EF1c quan-1-1-24(QT01)",
                    start: "2024-11-12T15:35:00+07:00",
                    end: "2024-11-12T18:00:00+07:00",
                    description: "Ph\u00F2ng tr\u1EF1c tuy\u1EBFn  Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241116T170000Z;BYDAY=TU"
                },
                {
                    title: "L\u1EADp tr\u00ECnh tr\u1EF1c quan-1-1-24(QT01)",
                    start: "2024-11-23T15:35:00+07:00",
                    end: "2024-11-23T18:00:00+07:00",
                    description: "Ph\u00F2ng tr\u1EF1c tuy\u1EBFn Ph\u00F2ng h\u1ECDc online",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241123T170000Z;BYDAY=SA"
                },
                {
                    title: "L\u1EADp tr\u00ECnh Web-1-1-24(QT(TA)01.BT1)",
                    start: "2024-10-11T13:00:00+07:00",
                    end: "2024-10-11T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241116T170000Z;BYDAY=FR"
                },
                {
                    title: "L\u1EADp tr\u00ECnh Web-1-1-24(QT(TA)01.TH1)",
                    start: "2024-10-12T07:00:00+07:00",
                    end: "2024-10-12T09:25:00+07:00",
                    description: "Ph\u00F2ng tr\u1EF1c tuy\u1EBFn  Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241116T170000Z;BYDAY=SA"
                },
                {
                    title: "L\u1EADp tr\u00ECnh Web-1-1-24(QT(TA)01)",
                    start: "2024-08-12T13:00:00+07:00",
                    end: "2024-08-12T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240831T170000Z;BYDAY=MO"
                },
                {
                    title: "L\u1EADp tr\u00ECnh Web-1-1-24(QT(TA)01)",
                    start: "2024-09-06T15:35:00+07:00",
                    end: "2024-09-06T18:00:00+07:00",
                    description: "504-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240907T170000Z;BYDAY=FR"
                },
                {
                    title: "L\u1EADp tr\u00ECnh Web-1-1-24(QT(TA)01)",
                    start: "2024-09-09T13:00:00+07:00",
                    end: "2024-09-09T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240921T170000Z;BYDAY=MO"
                },
                {
                    title: "L\u1EADp tr\u00ECnh Web-1-1-24(QT(TA)01)",
                    start: "2024-09-13T15:35:00+07:00",
                    end: "2024-09-13T18:00:00+07:00",
                    description: "504-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240921T170000Z;BYDAY=FR"
                },
                {
                    title: "L\u1EADp tr\u00ECnh Web-1-1-24(QT(TA)01)",
                    start: "2024-09-23T13:00:00+07:00",
                    end: "2024-09-23T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241005T170000Z;BYDAY=MO"
                },
                {
                    title: "L\u1EADp tr\u00ECnh Web-1-1-24(QT(TA)01)",
                    start: "2024-11-18T13:00:00+07:00",
                    end: "2024-11-18T15:25:00+07:00",
                    description: "Ph\u00F2ng tr\u1EF1c tuy\u1EBFn Ph\u00F2ng h\u1ECDc online",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241123T170000Z;BYDAY=MO"
                },
                {
                    title: "M\u1EA1ng m\u00E1y t\u00EDnh-1-1-24(QT01.BT1)",
                    start: "2024-10-12T13:00:00+07:00",
                    end: "2024-10-12T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241116T170000Z;BYDAY=SA"
                },
                {
                    title: "M\u1EA1ng m\u00E1y t\u00EDnh-1-1-24(QT01)",
                    start: "2024-08-13T13:00:00+07:00",
                    end: "2024-08-13T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240824T170000Z;BYDAY=TU"
                },
                {
                    title: "M\u1EA1ng m\u00E1y t\u00EDnh-1-1-24(QT01)",
                    start: "2024-08-17T13:00:00+07:00",
                    end: "2024-08-17T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240824T170000Z;BYDAY=SA"
                },
                {
                    title: "M\u1EA1ng m\u00E1y t\u00EDnh-1-1-24(QT01)",
                    start: "2024-08-27T13:00:00+07:00",
                    end: "2024-08-27T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240831T170000Z;BYDAY=TU"
                },
                {
                    title: "M\u1EA1ng m\u00E1y t\u00EDnh-1-1-24(QT01)",
                    start: "2024-09-07T13:00:00+07:00",
                    end: "2024-09-07T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241005T170000Z;BYDAY=SA"
                },
                {
                    title: "Ph\u00E2n t\u00EDch thi\u1EBFt k\u1EBF y\u00EAu c\u1EA7u-1-1-24(QT01.BT1)",
                    start: "2024-09-26T15:35:00+07:00",
                    end: "2024-09-26T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241102T170000Z;BYDAY=TH"
                },
                {
                    title: "Ph\u00E2n t\u00EDch thi\u1EBFt k\u1EBF y\u00EAu c\u1EA7u-1-1-24(QT01)",
                    start: "2024-08-15T15:35:00+07:00",
                    end: "2024-08-15T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240921T170000Z;BYDAY=TH"
                },
                {
                    title: "Thu\u1EADt to\u00E1n v\u00E0 \u1EE9ng d\u1EE5ng-1-1-24(QT01)",
                    start: "2024-08-15T13:00:00+07:00",
                    end: "2024-08-15T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240921T170000Z;BYDAY=TH"
                },
                {
                    title: "Thu\u1EADt to\u00E1n v\u00E0 \u1EE9ng d\u1EE5ng-1-1-24(QT01.BT1)",
                    start: "2024-09-26T13:00:00+07:00",
                    end: "2024-09-26T15:25:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241102T170000Z;BYDAY=TH"
                },
                {
                    title: "X\u00E1c su\u1EA5t th\u1ED1ng k\u00EA-1-1-24(QT01.BT1)",
                    start: "2024-10-11T15:35:00+07:00",
                    end: "2024-10-11T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241116T170000Z;BYDAY=FR"
                },
                {
                    title: "X\u00E1c su\u1EA5t th\u1ED1ng k\u00EA-1-1-24(QT01)",
                    start: "2024-08-12T15:35:00+07:00",
                    end: "2024-08-12T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240831T170000Z;BYDAY=MO"
                },
                {
                    title: "X\u00E1c su\u1EA5t th\u1ED1ng k\u00EA-1-1-24(QT01)",
                    start: "2024-09-06T13:00:00+07:00",
                    end: "2024-09-06T15:25:00+07:00",
                    description: "504-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240907T170000Z;BYDAY=FR"
                },
                {
                    title: "X\u00E1c su\u1EA5t th\u1ED1ng k\u00EA-1-1-24(QT01)",
                    start: "2024-09-09T15:35:00+07:00",
                    end: "2024-09-09T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240921T170000Z;BYDAY=MO"
                },
                {
                    title: "X\u00E1c su\u1EA5t th\u1ED1ng k\u00EA-1-1-24(QT01)",
                    start: "2024-09-13T13:00:00+07:00",
                    end: "2024-09-13T15:25:00+07:00",
                    description: "504-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20240921T170000Z;BYDAY=FR"
                },
                {
                    title: "X\u00E1c su\u1EA5t th\u1ED1ng k\u00EA-1-1-24(QT01)",
                    start: "2024-09-23T15:35:00+07:00",
                    end: "2024-09-23T18:00:00+07:00",
                    description: "503-A8 Gi\u1EA3ng \u0111\u01B0\u1EDDng A8",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241005T170000Z;BYDAY=MO"
                },
                {
                    title: "X\u00E1c su\u1EA5t th\u1ED1ng k\u00EA-1-1-24(QT01)",
                    start: "2024-11-18T15:35:00+07:00",
                    end: "2024-11-18T18:00:00+07:00",
                    description: "Ph\u00F2ng tr\u1EF1c tuy\u1EBFn Ph\u00F2ng h\u1ECDc online",
                    recurrenceRule: "FREQ=WEEKLY;UNTIL=20241123T170000Z;BYDAY=MO"
                }
            ]
        });
        calendar.render();
    });

</script>

<div id='calendar'></div>
