@model IEnumerable<CalendarEventObject>
@using System.Text.Json;

<link rel='stylesheet' href='~/lib/fullcalendar-6.1.15/css/v_calendar.css' />
<script src='~/lib/fullcalendar-6.1.15/dist/index.global.min.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var listEvents = @Html.Raw(JsonSerializer.Serialize(Model.Select(item => new
        {
            id = item.Id,
            groupId = item.GroupId,
            title = item.Title,
            start = item.Start?.ToString("yyyy-MM-ddTHH:mm:ss"),
            end = item.End?.ToString("yyyy-MM-ddTHH:mm:ss"),
            description = item.Description
        })));

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            displayEventTime: false,
            initialView: 'dayGridMonth', // 'dayGridWeek', 'timeGridDay', 'listWeek'
            events: listEvents,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            buttonText: {
                today: 'Hôm nay',
                month: 'Tháng',
                week: 'Tuần',
                day: 'Ngày',
                list: 'Danh sách',
            },
            locale: 'vi',
            timeZone: 'Asia/Ho_Chi_Minh',
            titleFormat: {},
        });
        calendar.render();
        // Make calendar accessible for button controls
        window.calendar = calendar;
    });
</script>

<div class="container-fluid">
    <div id='calendar'></div>
</div>
