@model SinhVien

@{
    ViewData["Title"] = "Đăng Kí Nguyện Vọng";
}

@section Styles {
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Handle -->
    <script>
        /**
         * handle đăng ký nguyện vọng
         */
        $(document).on('click', '#btnDangKyNguyenVong', function () {
            var idMonHoc = $(this).attr('data-idMonHoc');
            var idSinhVien = $(this).attr('data-idSinhVien');

            $.ajax({
                url: '/api/NguyenVong',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    idMonHoc: idMonHoc,
                    idSinhVien: idSinhVien,
                }),
                success: function (res) {
                    console.log(res);
                    location.reload();
                },
                error: function (err) {
                    console.log(err);
                    alert('Đăng Ký Thất Bại');
                }
            });
        });

        /**
         * handle data table
         */
        $(document).ready(function () {
            // Kết Quả Đăng Kí Học Cải Thiện
            $("#dataTable_nguyen_vong").dataTable({
                ajax: {
                    url: '/api/NguyenVong/sinhvien/@Model.IdSinhVien',
                    type: 'GET',
                    dataSrc: '',
                },
                columns: [
                    {data: 'idSinhVien'},
                    {data: 'tenSinhVien'},
                    {data: 'tenMonHoc'},
                    {
                        data: 'trangThai',
                        sortable: false,
                        searchable: false,
                        render: function (data, type, row) {
                            if (row.data == false) {
                                return `
                                    <span class="badge badge-warning">Chưa Xác Nhận</span>
                                `;
                            } else if (row.data == true) {
                                return `
                                    <span class="badge badge-success">Đã Xác Nhận</span>
                                `;
                            } else {
                                return `
                                    <span class="badge badge-danger">Đã Hủy</span>
                                `;
                            }
                        }
                    },
                ],
                language: {
                    url: '/sb-admin/json/data_tables_vi.json',
                },
            });
        
            // Hiện Thị Các Môn Có Thể Đăng Kí Học Cải Thiện
            $("#dataTable_hoc_cai_hien").dataTable({
                ajax: {
                    url: '/api/diem/@Model.IdSinhVien/sinhvien/dangkinguyenvong',
                    type: 'GET',
                    dataSrc: '',
                },
                columns: [
                    {data: 'tenLopHocPhan'},
                    {data: 'diemQuaTrinh'},
                    {data: 'diemKetThuc'},
                    {data: 'diemTongKet'},
                    {data: 'lanHoc'},
                    {
                        data: null,
                        render: function (data, type, row) {
                            return `
                                <button id="btnDangKyNguyenVong" class="btn btn-primary" 
                                    data-idMonHoc="${row.idMonHoc}" 
                                    data-idSinhVien="${row.idSinhVien}"
                                    >Đăng Ký</button>
                            `;
                        }
                    },
                ],
                language: {
                    url: '/sb-admin/json/data_tables_vi.json',
                }
            });

            
        });
    </script>
}

<!-- Bảng Danh Sách Môn Học Cải Thiện -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Các Học Phần Có Thể Đăng Ký Học Cải Thiện</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable_hoc_cai_hien" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Lớp Học Phần</th>
                            <th>Điểm Quá Trình</th>
                            <th>Điểm Kết Thúc</th>
                            <th>Điểm Tổng Kết</th>
                            <th>Lần Học</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Lớp Học Phần</th>
                            <th>Điểm Quá Trình</th>
                            <th>Điểm Kết Thúc</th>
                            <th>Điểm Tổng Kết</th>
                            <th>Lần Học</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Bảng Danh Sách Kết Quả Nguyện Vọng Đăng Ký -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nguyện Vọng Đăng Kí</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable_nguyen_vong" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã Sinh Viên</th>
                            <th>Tên Sinh Viên</th>
                            <th>Môn Học</th>
                            <th>Trạng Thái</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã Sinh Viên</th>
                            <th>Tên Sinh Viên</th>
                            <th>Môn Học</th>
                            <th>Trạng Thái</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>